:root {
    --primary: black;
    --secondary: white;
    --size: 150px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    top: 0;
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Inter', sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 30px;
    height: 110px;
    justify-content: space-between;
    z-index: 100;
}

nav img {
    height: 50px;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
}

button {
    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: min-content;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    opacity: 0.7;
}

.nav-button {
    height: 50px;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input {
    border: none;
    background-color: rgba(140, 140, 140, 0.3);
    padding: 0.7rem;
    font-size: 1.2rem;
    color: var(--primary);
    font-family: 'Inter', sans-serif;
    transition: all 0.3s;
    opacity: 0.5;
    border-radius: 3px;
}

input:focus {
    outline: none;
    opacity: 1;
}

p {
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
}

.survey {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.end-screen {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8rem;
}

.modal {
    z-index: 101;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    padding-top: 140px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.modal-close {
    float: right;
    background-color: none;
    padding: 0;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.line {
    height: 5px;
    width: 100%;
    position: absolute;
    top: 50%;
    background-color: var(--secondary);
}

.line-1 {
    transform: translateY(-50%) rotate(45deg);
}

.line-2 {
    transform: translateY(-50%) rotate(-45deg);
}

.data-block {
    background-color: var(--secondary);
    height: min-content;
    color: var(--primary);
}

/* CUBE */

.container {
    width: var(--size);
    height: var(--size);
    perspective: 1000px;
    transition: all 0.3s cubic-bezier(.09,.56,.46,.92);
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    scale: 1;
}

@keyframes cube-in {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

.face {
    border: 3px solid var(--primary);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    font-size: 1.25rem;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.2); */
    opacity: 0.8;
    user-select: none;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-drag: none;
}

.face p {
    width: 80%;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    user-select: none;
    -webkit-user-drag: none;
    overflow-wrap: break-word;
}

.front {
    transform: translateZ(calc(var(--size) / 2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}