:root {
  --primary: black;
  --secondary: white;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    top: 0;
    background-color: var(--primary);
    color: var(--secondary);
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    width: 100%;
    padding: 70px 10% 70px 10%;
    z-index: 100;
    background-color: var(--primary);
}

nav a {
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3rem;
    opacity: 0.5;
}

.nav-select {
    opacity: 1;
}

.logo {
    margin-right: auto;
    cursor: pointer;
}

main {
    margin: 0 auto;
    width: 900px;
    padding-top: 200px;
    position: relative;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

footer {
    position: relative;
    bottom: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    padding: 70px 10% 70px 10%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
    gap: 10px;
    width: 100%;
    position: relative;
    margin-top: 3rem;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.img-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.img-3 {
    grid-column: 5 / 9;
    grid-row: 1 / 5;
}

.img-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.img-5 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.img-6 {
    grid-column: 1 / 5;
    grid-row: 5 / 9;
}

.img-7 {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
}

.img-8 {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
}

.img-9 {
    grid-column: 5 / 7;
    grid-row: 7 / 9;
}

.img-10 {
    grid-column: 7 / 9;
    grid-row: 7 / 9;
}

.img-11 {
    grid-column: 1 / 3;
    grid-row: 9 / 11;
}

.img-12 {
    grid-column: 3 / 5;
    grid-row: 9 / 11;
}

.img-13 {
    grid-column: 5 / 9;
    grid-row: 9 / 11;
}

.img-14 {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
}

.img-15 {
    grid-column: 3 / 5;
    grid-row: 11 / 13;
}

.img-16 {
    grid-column: 5 / 9;
    grid-row: 11 / 13;
}

.story-img {
    width: 100%;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: right;
}

.series {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}

.series img {
    width: 100%;
}

.mobile-nav {
    display: none;
}

/* Media queries */

@media screen and (max-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }

    .grid img {
        grid-column: auto;
        grid-row: auto;
    }

    main {
        margin: 0 auto;
        width: 80%;
        padding-top: 200px;
        position: relative;
        font-family: 'Inter', sans-serif;
        min-height: 100vh;
    }

    nav a {
        display: none;
    }

    .hamburger {
        height: 2rem;
        width: 2.5rem;
        position: relative;
        cursor: pointer;
    }

    .line {
        width: 100%;
        position: absolute;
        height: 4px;
        background-color: var(--secondary);
        transition: all 0.3s;
    }

    .line-2 {
        top: 50%;
        transform: translateY(-50%);
    }

    .line-3 {
        bottom: 0;
    }

    .mobile-nav {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: var(--primary);
        z-index: 99;
        flex-direction: column;
        justify-content: center;
        gap: 10%;
        align-items: center;
    }

    .mobile-nav a {
        text-decoration: none;
        color: var(--secondary);
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.5rem;
        opacity: 0.5;
    }

    .nav-select {
        opacity: 1!important;
    }
}