* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    width: 100%;
    background-color: cornflowerblue;
    padding: 0 2rem 0 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.logo {
    position: absolute;
    left: 0;

}